body {
		background-color:lightyellow;
		}
h1 {
		color:orange;
		text-align:center; 
		}
p {
		color:black;
		font-family: verdana;
    	font-size: 16px;
    	border: 1px solid powderblue;
   	    
		}
a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}