@import url('https://fonts.googleapis.com/css?family=Glegoo:400,700');
body {
  background-image: url("../images/hoplite_background.gif");
  font-family: 'Glegoo', serif;
  font-size: 12px;
  color:black;
}
p {
  text-align: center;
}
#images {
  background-color: transparent;
  padding:10px;
  max-width: 1024px;
  position:relative;
}
#nav {
  text-align:center;
  background-color:transparent;
  padding-bottom:0px;
}
#nav ul {
  display:inline-block;
  list-style:none; 
  margin:auto;
  padding: auto;
}
#nav li {
  display:inline-block;
}
#nav a {
  border-style: outset;
  float:left;
  text-decoration:none; 
  color:black;
  padding:10px;
}
#nav a:hover {
  background-color:#8080ff;
}
#nav a:active {
  color:silver;
}
.newspaper {
  column-count:3;
  max-width: 1024px;
  padding: 10px;
}
.list {
    background-color: powderblue;
    float: left;
    width: 124px;
    height: 500px;
    margin: 0;
    padding: 1em;
}
.video {
    background-color: powderblue;
    float: right;
    width: 800px;
    height: 500px;
    margin: 0;
    padding: 1em;
}
.lorem {
    background-color: powderblue;
    float: left;
    max-width: 320px;
    height: 500px;
    margin: 0;
    padding: 1em;
}
.pictures4 {
    background-color: powderblue;
    float: right;
    max-width: 620px;
    height: 500px;
    margin: 0;
    padding: 1em;
}
.body {
  max-width: 1024px;
  background-color: transparent;
  margin: auto;
  padding:auto;
}